.album {
  display: inline-flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  width: 6rem;

  &__cover {
    width: 5rem;
    height: 5rem;
    border-radius: 100%;
    overflow: hidden;
    margin: var(--s2) 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);

    img {
      max-width: 6rem;
    }
  }

  &__title {
    font-size: var(--font-size-xs);
    font-weight: bold;
    color: var(--color-dark-gray);
  }
}
