:root {
  --color-black: #000;
  --color-white: #fff;
  --color-black-hover: #111;
  --color-dark-gray: #232323;
  --color-light-gray: #b1b1b1;
  --color-primary: #ffe000;
  --color-primary-hover: #ffef80;
  --color-error: red;

  --font-size-default: 1rem;
  --font-size-xs: 0.75rem;
  --font-size-sm: 0.875rem;
  --font-size-lg: 1.125rem;
  --font-size-xl: 1.25rem;
  --font-size-xxl: 1.5rem;

  --s1: 0.5rem;
  --s2: 1rem;
  --s3: 1.5rem;
}
