:host {
  display: flex;
  background-color: var(--color-black);
  padding: var(--s3) 0;
}

.topbar {
  display: flex;
  justify-content: space-between;
  align-items: center;

  a {
    color: var(--color-white);
    text-decoration: none;
  }

  &__logo {
    display: flex;
    align-items: center;
    font-weight: bold;
    text-transform: uppercase;

    img {
      height: 5rem;
      margin-right: var(--s2);
    }
  }

  &__nav ul {
    display: flex;
    align-items: center;
    list-style: none;
    padding: 0;
    margin: 0;

    li + li {
      margin-left: var(--s3);
    }

    li a {
      color: var(--color-white);
      text-transform: uppercase;
      font-weight: bolder;

      &.active {
        color: var(--color-primary);
      }
    }
  }
}
